<html>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body bgcolor='CornflowerBlue'>
	<center>
	<h1><br /><center><b>👉<u>Plz Provide Your Required Information...</u></b></center></h1>

	<form action="/upload" method="POST" enctype="multipart/form-data">
	  <br />
          
	  <b>1. Name🙋🏻‍♂️ : </b> <input name='Name' />
          <br />
          <br />
          <b>2. Your Email-ID📌: </b> <input name='Email-ID' />
          <br />
          <br />
	     <b>
             <label for="Resume">3. Upload Your Resume✍️: </label>
             <input type="file" style='background-color:#ff1493;color:white;' name="user_file"                     id="Resume">
	     </b>
	  <br />
          <br />
		  <button type="submit" style='background-color:black;color:white;'><b><u>Submit</u></b></button>        
        </form>
</center>
</body>
</html>
